<div id="segment-navbar" class="segment">
  <div id="stripe"> </div>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>
        <a class="navbar-brand hidden" href="http://hl7.org/fhir/R4/index.html">FHIR</a>
        <div class="nav-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Hem</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Bakgrund<b class="caret"> </b></a>
              <ul class="dropdown-menu">
                <li><a href="workflow.html">Workflow</a></li>
                <li><a href="logical-models.html">Logiska modeller</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Mappningar<b class="caret"> </b></a>
              <ul class="dropdown-menu">
                <li><a href="mappings.html">Översikt</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Patientöversikt</li>
                <li><a href="mapping-getdiagnosis.html">GetDiagnosis – Diagnoser</a></li>
                <li><a href="mapping-getalertinformation.html">GetAlertInformation – Uppmärksamhet</a></li>
                <li><a href="mapping-getmedicationhistory.html">GetMedicationHistory – Läkemedel</a></li>
                <li><a href="mapping-getvaccinationhistory.html">GetVaccinationHistory – Vaccinationer</a></li>
                <li><a href="mapping-getfunctionalstatus.html">GetFunctionalStatus – Funktionstillstånd</a></li>
                <li><a href="mapping-getmaternitymedicalhistory.html">GetMaternityMedicalHistory – Mödravård</a></li>
                <li><a href="mapping-getcareplans.html">GetCarePlans – Vårdplan</a></li>
                <li><a href="mapping-getcarecontacts.html">GetCareContacts – Vårdkontakter</a></li>
                <li><a href="mapping-getcaredocumentation.html">GetCareDocumentation – Anteckningar</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Laboratorie och diagnostik</li>
                <li><a href="mapping-getlaboratoryorderoutcome.html">GetLaboratoryOrderOutcome – Provsvar</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Bilddiagnostik</li>
                <li><a href="mapping-getimagingoutcome.html">GetImagingOutcome – Bilddiagnostik</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Remiss och process</li>
                <li><a href="mapping-getreferraloutcome.html">GetReferralOutcome – Remisser</a></li>
                <li><a href="mapping-getrequestactivities.html">GetRequestActivities – Remisstatus</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Tillväxtkurva barn</li>
                <li><a href="mapping-getobservations.html">GetObservations – Tillväxtkurva</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Logg</li>
                <li><a href="mapping-getaccesslogforpatient.html">GetAccessLogForPatient – Åtkomstloggar</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret"> </b></a>
              <ul class="dropdown-menu">
                <li><a href="profiles.html">Profiles</a></li>
                <li><a href="terminology.html">Terminology</a></li>
                <li><a href="examples.html">Examples</a></li>
                <li><a href="artifacts.html">All Artifacts</a></li>
              </ul>
            </li>
            <li><a href="downloads.html">Downloads</a></li>
            <li><a href="version-history.html">Version History</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
